/* All sizes */
.style-switcher {
	display: none !important;
}

.header .navbar-default .navbar-brand span.logo {
	width: 200px;
	height: 90px;
	background: url('../img/logo-200.png') no-repeat top left transparent;
	border: none;
	font-size: 0px;
}

.header .navbar-default .navbar-nav > li a {
    line-height: 55px;
}

.nav-donate {
	margin-right: -10px;
	float: right !important;
	margin: 0px;
	padding: 16px 9px;
    list-style: none outside none;
}

.header .navbar-default .navbar-nav > li a {
	background: #FFF4B2;
}

.header .navbar-default .navbar-nav > li a:hover {
    color: #4C82F2;
}

.nav-down {
	color: #fff;
	font-size: 48px;
}

.container > .navbar-header {
	float: left;
}

.header .navbar-default {
	padding: 3px 0px;
	box-shadow: none;
}

.navbar-brand {
	padding: 6px 10px;
}

.header .navbar-default .navbar-nav > li a {
	padding: 0px 20px;
}

.banner-container {
    background: url('../img/hero-classroom.jpg') no-repeat fixed center center #FFF;
}

.header .navbar-default .navbar-brand span.logo {
	line-height: 40px;
}

.container .heading.shadow h2, .container .heading.shadow h3 {
    color: #fff;
}

.hero .container .heading.shadow h2 {
	color: #E11A2B;
	margin-top: 30px;
}

.hero .container .heading.shadow h3 {
	color: #000;
}

.hero .container .head.shadow h2 {
	text-shadow: 1px 1px 0px rgba(75, 8, 14, 1);
}

.heading.shadow {
	margin-bottom: 0px;
}

.purpose h3 {
	margin: 9px 0 0 0;
}

.container .heading.shadow h3 {
}

/* Background captions */
.caption-shop {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 15px;
    float: right;
    color: #fff;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
    font-size: 10px;
}

.caption-shop a {
	color: #fff;
}

.caption {
	    display: none;
}

.caption a {
	color: #FFF;
}

.heading h2 {
	font-size: 45px !important;
	text-transform: none !important;
}

.low-top {
	margin-top: 6px !important;
}

.heading-small {
	color: #fff;
	font-size: 18px;
}

.heading h3 {
	font-size: 22px;
	margin-top: 9px;
}

.action {
	width: 300px;
	margin: auto;
}

.action a {
	margin: 8px 0;
}

.btn i {
    margin-right: 8px;
}

.btn-host {
	width: 220px;
	padding-top: 16px;
}

.host-large {
	font-size: 24px;
}

.join-large {
	font-size: 20px;
}

.btn-attend, .btn-text {
	font-size: 16px !important;
	padding: 10px;
	margin-top: 10px;
	color: #fff;
	background: #E11A2B;
}

.btn-text:hover {
	color: #fff !important;
}

.cantjoin {
	display: block;
	color: #000;
	font-weight: bold;
}

.cantjoin a, .cantjoin a:hover {
	color: #4C82F2;
}

.purpose {
	padding-top: 20px;
}

.mission {
	padding: 10px 0px 0px;
}

.mission .mission-heading h1 {
    font-size: 27px;
}

#carousel-children {
	padding: 0px 0px 40px 0;
}

#carousel-children img {
	margin: auto;
}

.cta {
	background: none repeat scroll 0% 0% #14D187;
	padding: 50px 0px;
	border: none;
}

.cta .cta-content {
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8);
}

.cta input {
	margin: 5px 0px;
	font-size: 18px;
	padding: 5px;
}

.cta .cta-content a.btn {
    margin: 22px auto 8px 2px;
}

.hero {
	background: url('../img/store-display.jpg') no-repeat center center fixed;
	padding: 20px 0px 0px 0px;
}

.hero h3 {
	color: #000;
	font-size: 18px;
	font-weight: bold;
}

.hero h4 {
	color: #fff;
	background: #E11A2B;
	margin: 10px auto;
	padding: 3px 0;
	max-width: 600px;
	font-size: 18px;
	font-weight: bold;
}

.hero .action {
	/*padding-top: 20px;*/
}

.event-hosts {
	color: #fff;
}

.event-hosts ul {
	list-style: none;
	padding: 0;
}

.event-hosts li {
	font-size: 18px;
	text-shadow: 1px 1px 0px #000;
}



.sponsor {
	background: url('../img/children-smiling-bg.jpg') no-repeat center center fixed;
	padding: 0px 0px 75px;
}

.sponsor h3 {
	color: #fff;
}

/* Impact styles */
.impact {
	background: url('../img/impact-back.jpg') repeat fixed 0% 0% transparent;
	padding: 10px 0px 30px;
}

.impact h3 {
	color: #fff;
}

.impact .dollar {
	font-size: 35px;
}

/* Colombia icon */
.branch .branch-map-area i.us-icon {
    left: 26%;
    bottom: 37%;
}

/* Colombia text */
.branch .branch-map-area span.us {
    left: 29.5%;
    bottom: 41%;
}

/* Kenya icon */
.branch .branch-map-area i.africa-icon {
    left: 56%;
    bottom: 36%;
}

/* Kenya text */
.branch .branch-map-area span.africa {
    left: 59.5%;
    bottom: 40%;
}

/* Philippines icon */
.branch .branch-map-area i.ras-icon {
    left: 78.9%;
    bottom: 40.6%;
}

/* Philippines text */
.branch .branch-map-area span.ras {
    left: 82.5%;
    bottom: 44.5%;
}

/* Footer */
.footer {
	text-align: center;
	color: rgba(239, 229, 231, 0.77);
}

.footer .nav {
	margin: 8px 0;
}

.footer .nav a {
	margin: 0 5px;
	color: rgba(239, 229, 231, 0.77);
}

/* Style elements */
.container .heading hr {
    width: 150px;
}


/* About page */
.cause-wrapper .donation-button input[type="submit"] { color: #fff; }
#about_hero { max-width: 940px; height: 305px;  margin: 0px 0px 30px 22px; }
#about_hero { background: url('/wp-content/uploads/2014/01/heropic5.jpg') no-repeat scroll 0px 0px transparent; overflow: hidden; }
#about_hero p { width: 400px; font-size: 34px; margin: 27px 0px 0px 45px; }
#about_hero p { color: #FFF; font-size: 26px; margin: 120px 0px 0px 21px; display: inline-block; line-height: 1.3em; background-color: #94B2FC; padding: 2px; }
#about .intro { font-size: 1.5em; margin-bottom: 20px; }
/*#about h2 { color: rgb(73, 112, 255); font-weight: bold; }*/
.nav-container {
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 0px auto;
}

.about-nav {
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}

.about-nav li {
    display: inline;
}

.about-nav li a {
    /*color: #679B00;*/
    /*font-family: "Abel",Arial;*/
    font-size: 18px;
    padding: 0px 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0px;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.stats { margin-bottom: 10px; width: 296px; display: inline; float: left; margin-left: 20px; margin-right: 10px; }
.stats ul { list-style: none outside none; margin-left: 0px; padding-left: 0px; }
.stats li {margin-bottom: 5px; line-height: 30px !important; }
.number { font-size: 2.65em; margin-right: 3px; vertical-align: -6px; }
.stats-more { margin-left: 20px; clear: left; margin-bottom: 20px; }

/* Team page */
.post-1270 {
	text-align: center;
}

/* Blog posts */

.container main {
	margin-top: 40px;
}

.author {
	background: none;
	border: none;
}

.post a {
	color: #11B575;
}

.entry-title a {
	color: #656565;
}

.entry-meta {
	margin-top: 9px;
	margin-bottom: 18px;
}

.post {
	margin-bottom: 60px;
}

/* Tablets */
@media (max-width: 767px){
.header .navbar-default .navbar-brand span.logo {
	/*font-size: 16px;*/
}

.mission .mission-heading h1 {
    font-size: 24px;
    line-height: 28px;
}
}

@media (min-width: 768px){
.header .navbar-default .navbar-brand span.logo {
	margin: 15px;
}

.header .navbar-default .navbar-nav > li a {
	font-size: 18px;
}

.container .heading.shadow h2, .container .heading.shadow h3 {
	font-size: 34px;
}

.heading h2 {
	font-size: 80px !important;
}

.heading h3 {
	text-shadow: 1px 1px 0px #000;
}

.heading-small {
	font-size: 24px;
}

.hero {
	padding: 12px 0px 220px;	
}

.purpose h3 {
	font-size: 36px;
	margin: 0 auto;
	max-width: 600px;
}

.btn-attend, .btn-text {
	margin: 10px 0px 10px 0px;
}

.cantjoin {
	color: #ffffff;
	text-shadow: 1px 1px 0px #000;
}

.cantjoin a {
	font-weight: bold;
	text-shadow: none;
}

.sponsor {
	padding: 130px 0px 220px;
}

.mission {
    padding: 66px 0px 86px;

}

.mission-heading h1 {
	line-height: 36px;
}

.impact {
	padding: 110px 0px 130px;

}
}

